@model IEnumerable<PCApp.Models.Assignment>

@{
    ViewBag.Title = "Play Deck";
    string sClass;
    int x = 0;
}

<h2>Play</h2>

<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.Deck.DeckName)
        </th>
        <td>
            <input type="button" value="Back" onclick="location.href='@Url.Action("UserProfile", "Home")'" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" value="Shuffle" onClick="window.location.reload()">
        </td>
        <td>
            <div class="container">
                <div>
                    <img id="Die" />
                </div>
                <div id="Tracker">
                    0
                </div>
                <div>
                    <input type="button" value="Roll" onclick="rollDie();" />
                    <input type="button" value="Reset" onclick="resetTracker();" />
                </div>
            </div>
        </td>
    </tr>
</table>
<hr />
<div id="myCarousel" class="carousel slide" data-interval="false">
    @* Wrapper for Slides *@
    <div class="carousel-inner">
        @* Loop Creating Individual Slides *@
        @foreach (var item in Model)
        {
            if (x == 0)
            {
                sClass = "item active";
                ++x;
            }
            else
            {
                sClass = "item";
            }
            <div class="@sClass">
                <img src="..\..\@Url.Content(item.Card.ImageURL)" alt="@item.Card.CardName"/> 
            </div>
        }
    </div> 
    @* Left and Right Controls *@
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria--hidden="false"></span>
        <span class="sr-only">Next</span>
    </a>
</div>